<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/rangeslider.min.js"></script>
    <script type="text/javascript" src="/javascripts/instructor_circles.js"></script>
    <script type="text/javascript" src="/javascripts/course_circles.js"></script>
  </head>
  <body>
    <h1> HKUST Professor Reviews <input type=text id="nameinput"/><button onclick="byname()"> Search By Name </button></h1>
    <br\><br\>
    <div style="height:15px;display:inline-block">
    <button onclick="changeorder(1,2,'grading')"> Sort By Grading </button>
    <button onclick="changeorder(1,2,'teaching')"> Sort By Teaching </button>
    <button onclick="changeorder(1,2,'content')"> Sort By Content </button>
    <button onclick="changeorder(1,2,'workload')"> Sort By Workload </button>
    <button onclick="changeorder(1,2,'reviews')"> Sort By # Reviews </button>
    <button onclick="changeexponent()"> Change Exponent </button>
    <input type='text' id='exponent'/>
    <button onclick="limitsize()"> Remove all Professors With # Reviews < </button>
    <input type='text' id='size'/>
  </div>
    <div id="circles" style="overflow-y:scroll">
    </div>
    <div style="height:30px;width:200px;display:inline-block">
      <h1> Professors </h1>
      <h3><span id="name"></span><span id="reviews"></span></h3>
      <h3 style="visibility=hidden;" id="id"></h3>
      <h4 id="otherinfo"></h4>
      <h4 id="overall"></h4>
      <button onclick="getcontent()"> View Comments on Content </button>
      <button onclick="getteaching()"> View Comments on Teaching </button>
      <button onclick="getgrading()"> View Comments on Grading </button>
      <button onclick="getworkload()"> View Comments on Workload </button>
  </div>
  <div style="height:300px;width:600px;display:inline-block;overflow:scroll">
    <ol id="content">
    </ol>
  </div>
  <div style="height:300px;width:400px;display:inline-block;overflow:scroll">
    <ol id="similarprofs">
    </ol>
  </div>
  <h1> HKUST Course Reviews </h1>
  <div style="height:15px;display:inline-block">
  <button onclick="changeCourseorder(1,2,'grading')"> Sort By Grading </button>
  <button onclick="changeCourseorder(1,2,'teaching')"> Sort By Teaching </button>
  <button onclick="changeCourseorder(1,2,'content')"> Sort By Content </button>
  <button onclick="changeCourseorder(1,2,'workload')"> Sort By Workload </button>
  <button onclick="changeCourseorder(1,2,'reviews')"> Sort By # Reviews </button>
  <button onclick="changeCourseexponent()"> Change Exponent </button>
  <input type='text' id='courseExponent'/>
  <button onclick="limitCoursesize()"> Remove all Courses With # Reviews < </button>
  <input type='text' id='courseSize'/>
</div>
  <div id="circlesCourse" style="overflow-y:scroll">
  </div>
  <div style="height:30px;width:200px;display:inline-block">
    <h1> Courses </h1>
    <h3><span id="courseName"></span><span id="courseReviews"></span></h3>
    <h3 style="visibility=hidden;" id="courseId"></h3>
    <h4 id="courseOtherInfo"></h4>
    <h4 id="courseOverall"></h4>
    <button onclick="getCoursecontent()"> View Comments on Content </button>
    <button onclick="getCourseteaching()"> View Comments on Teaching </button>
    <button onclick="getCoursegrading()"> View Comments on Grading </button>
    <button onclick="getCourseworkload()"> View Comments on Workload </button>
</div>
<div style="height:300px;width:600px;display:inline-block;overflow:scroll">
  <ol id="courseContent">
  </ol>
</div>
<div style="height:300px;width:400px;display:inline-block;overflow:scroll">
  <ol id="similarCourses">
  </ol>
</div>
<script>
makeInstructorCircles(<%- JSON.stringify(instructors) %>,1,2);
makeCourseCircles(<%- JSON.stringify(course) %>,1,2);

</script>
</body>
</html>
