<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Instructors</h1>
    <ul style='max-height:300px;max-width:100px;overflow:auto'>
      <% for (i = 0; i < instructors.length;i++) {
        %> <li>
          <a href='instructor?id=<%= instructors[i].id %>'>
          <%= instructors[i].name %>
        </a></li>
        <% } %>
    </ul>
  </body>
</html>
