<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/javascripts/instructor_circles.js"></script>

  </head>
  <body>
    <div style="height:30px">
      <h1> Instructors </h1>
      <h3><span id="name"></span><span id="reviews"></span></h3>
      <h4 id="otherinfo"></h4>
      <h4 id="overall"></h4>
  </div>
  <script>
  makeInstructorCircles(<%- JSON.stringify(instructors) %>);
  </script>
</body>
</html>
