<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Statistics</h1>
    <%= JSON.stringify(stats) %>)
  </body>
</html>
